body{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    /* justify-content: center; */
}
h1{
    font-size: 50px;
}
.image_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image_container img{
    width: 80%;
    height: 250px;
    border: 2px solid white;
    border-radius: 15px;
}
.image_container h2{
    border: 2px solid whitesmoke;
    background-color: navy;
    font-size: 30px;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 10px;
}